<body style="direction: rtl; height: 100vh;" class="bg-light">
        <div class="d-flex bg-body-color justify-content-center align-items-center h-100">
            <div class="w-75 h-100 d-flex align-items-center">
                <div class="bg-white w-75 h-75 container d-flex justify-content-evenly flex-lg-row flex-md-column align-items-center" style="border-radius: 25px">
                    <div class="w-50 h-75 d-flex justify-content-center align-items-center flex-column">
                        <h1 class="mb-4">بازنشانی رمز عبور</h1>
                        {% if form.errors %}
                                <div class="alert alert-danger alert-dismissible" role="alert">
                                    <div id="form_errors">
                                        {% for key, value in form.errors.items %}
                                            <strong>{{ value }}</strong>
                                        {% endfor %}
                                    </div>
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            {% endif %}
                        <form   method="POST" class="d-flex mt-2 w-100 align-items-center flex-column" style="height: 55%;">
                            {% csrf_token %}
                            <input type = "password" class="w-75 mb-2 text-center" id="new_password1" name="new_password1" placeholder="رمز عبور جدید" style="height: 20%; background: rgba(128,128,128,0.06); border-radius: 50px; border: 1px solid black;">
                            <input type = "password" class="w-75 mb-2 text-center" id="new_password2" name="new_password2" placeholder="رمز عبور جدید" style="height: 20%; background: rgba(128,128,128,0.06); border-radius: 50px; border: 1px solid black;">

                                <input type = "submit" value="بازنشانی رمز عبور" height="30%" class="w-75 mt-3" style="  background: rgba(0,178,0,0.86); border-radius: 50px; border: 1px solid black;">
                                    <br>

                            <p style="opacity: 90%;" class="">اکانت ندارید؟ <a href = "{% url 'hair_style:register' %}">ثبت نام</a> کنید</p>
                        </form>
                    </div>
                    <div class="w-50 d-flex justify-content-center">
                        <img class="" src = "{% static 'image/passwordresetconfrim.png' %}" alt = "login-iamge">
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>