<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
{% for courses in course %}
    <p>
        <a href="{% url 'administrator:video_Course' courses.id %}">{{ courses.title }}</a>
    </p>
    <p>
        {{ courses.description }}
    </p>
    <p>
        <img src="{{ courses.image.url }}" alt="">
    </p>
    <p>
        {{ courses.price }}
    </p>
    <p>
        {{ courses.publish }}
    </p>
    {% for cate in courses.category.all %}
        <p>
            #{{ cate.title }}
        </p>
    {% endfor %}
{% endfor %}
</body>
</html>